[Unit]
Description=VPN Monitor Agent
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin
# #Loading OS Environment(Optional)
#EnvironmentFile=/etc/environment
ExecStart=/usr/bin/python3 /usr/local/bin/agent/monitor.py
Restart=always
RestartSec=10

# Environment Variables
# IMPORTANT: Replace 'your-secure-api-key-here' with your actual API key
# This key must match the AGENT_API_KEY configured on the API server
#Environment="AGENT_API_KEY=myKey"

# Optional: Override default API URL if needed
# Environment="API_URL=http://srvlist.app.aqibs.dev:8000/heartbeat"

[Install]
WantedBy=multi-user.target
